/* Estilo general para la página */
body {
    font-family: sans-serif;
    margin: 0;
    background-image: url('chocolates.png'); /* Reemplazar con la ruta de la imagen */
    background-size: cover; /* Cubrir toda la página con la imagen */
    background-position: center; /* Centrar la imagen en la página */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-attachment: fixed; /* Imagen fija al desplazarse */
}
